.logout {
    padding: 10px;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
    background-color: #7fcbea;
    border-color: transparent;
}

.user {
    margin-right: 12px;
    font-weight: bold;
}